import os
from glob import glob
import random
from os.path import dirname
from os.path import realpath
from os.path import isdir
from random import shuffle
import platform
from subprocess import call
from urllib import request
import json
from urllib.request import urlopen
from os import getcwd
from os import chdir
